<!DOCTYPE html>
<html lang="fi">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> {{#if data.news.content}}
    <title>{{data.news.title}}</title>
    <meta property="og:title" content="{{data.news.title}}">
    <meta name="twitter:title" content="{{data.news.title}}"> {{else}}
    <title>{{title}}</title>
    {{/if}} {{#each contact}} {{#if favicon}}
    <link rel="shortcut icon" href="{{this.favicon.secure_url}}" type="image/x-icon"> {{else}}
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"> {{/if}} {{/each}}

    <link href="/styles/main.min.css" rel="stylesheet">
    <link href="/styles/animate.css" rel="stylesheet"> {{!-- This file provides the default styling for the KeystoneJS Content Editor - only renders when user is logged in
    and admin--}} {{{isAdminEditorCSS user}}} {{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    //- Safely remove this block if you are not targeting IE8 --}}
    <!--[if lt IE 9]>
        <script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
        <script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>
    {{{body}}}
    <footer itemscope itemtype="http://schema.org/LocalBusiness">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    {{#each contact}}
                    <h3 class="footer-company ">{{this.companyName}}</h3>
                    <p class="footer-company-text" itemprop="description">{{this.companyFooter}}</p>
                    {{/each}}
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="footer-news">
                        <h4 class="footer-news-title">Uusimmat Uutiset</h4>
                        <ul class="footer-news">
                            {{#each news.footer}}
                            <li><a href="/uutiset/artikkeli/{{this.slug}}">{{this.title}}</a></li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="footer-contact">
                        <h4>Käyttö & Tilausehdot</h4>
                        <ul class="footer-news">
                            {{#each terms}}
                            <li><a href="{{this.url}}">{{this.title}}</a></li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="footer-contact">
                        {{#each contact}}
                        <h4>Yhteystiedot</h4>
                        <ul class="footer-contact-list" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                            <li class="location" itemprop="streetAddress">{{address}}, {{postnumber}} {{cityOrRegion}}</li>
                            <li class="phone" itemprop="telephone">+358 - {{formatNumber phonenumber}}</li>
                            <li class="email" itemprop="email">{{email}}</li>
                        </ul>
                        {{/each}}

                    </div>
                    <div class="footer-newsletter">
                        <h5>Kuukausikirje</h5>
                        <form id="newsletter-form" method="post">
                            <div class="input-group ">
                                <input type="email" name="email" class="form-control" value="{{formData.email}}" placeholder="Email">
                                <span class="input-group-addon">
                                  <a href="#" onclick="$(this).closest('form').submit()" type="submit">Tilaa</a>
                            </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="copyright">
        <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6">
            <p class="left-text">Copyright © 2017 by ELM Oy</p>
        </div>
        {{!--{{#if social}}
        <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6">
            <div class="footer-social">
                {{#each social}}
                <a href="{{this.url}}">A</a> {{/each}}
            </div>
        </div>
        {{/if}}--}}
    </div>
    {{!-- //- jQuery 1.11.3 is included by default, and required by both Bootstrap //- and the KeystoneJS Content Editor. If
    you are not targeting IE8, //- you can upgrade to 2.1.4 (also bundled) for better performance. --}}
    <script src="/js/jquery/jquery-1.11.3.min.js"></script>
    {{!--
    <script src="/js/maps.js"></script>--}} {{!-- //- Customise which Bootstrap javascript files are served by including //- them specifically here,
    instead of bootstrap-3.3.5.min.js --}}
    <script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>
    <script src="/js/parallax.min.js"></script>
    <script src="/js/script.js"></script>
    {{{isAdminEditorJS user}}}
</body>

</html>