<div class="jumbotron parallax-window" data-parallax="scroll" data-image-src="{{about.about.jumbotronBackground.secure_url}}">
    {{>navigation this}}
    <div class="container-fluid">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jumbotron-header">
                {{{about.about.jumbotron}}}
            </div>
        </div>
    </div>
</div>
<section id="quality">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="quality">
                    <h1 class="quality-title">{{about.about.title}}</h1>
                    <p class="quality-title-small">{{about.about.smallTitle}}</p>
                    <div class="quality-content">
                        {{{about.about.briefAboutUs}}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{#if projects}}
<section id="projects">
    <div class="project-header">
        <h1>Our Projects</h1>
        <p>Quisque eget justo mauris. Integer tempus dolor in lacus vulputate feugiat.</p>
    </div>
    <div class="container-full">
        {{#each projects}}
        <div class="project col-xs-12 col-sm-6 col-md-3 col-lg-3 nopadding">
            <div class="hovereffect">
                <img class="img-responsive" src="{{this.image.secure_url}}">
                <div class="overlay">
                    <h1>{{this.title}}</h1>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</section>
{{/if}} {{#if employe}}
<section id="team">
    <div class="team-header">
        <h1 style="padding-top:50px;">Meet The Team</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="team-members">
                {{#each employe}}

                <div class="col-sm-12 col-md-4">
                    <figure>
                        <img class="img-responsive" src="{{this.image.secure_url}}" alt="">
                        <figcaption>
                            <small>{{this.occupation}}</small>
                            <p class="team-name">{{this.name}}</p>
                        </figcaption>
                    </figure>
                </div>
                {{/each}}
                </figure>
            </div>
        </div>
    </div>
</section>
{{else}}
<section id="team">
    <div class="team-header">
        <h1 style="padding-top:50px;">No data found</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="team-members">
                <div class="col-sm-12 col-md-4">
                </div>
            </div>
        </div>
    </div>
</section>
{{/if}}