<div class="jumbotron  parallax-window" data-parallax="scroll" data-image-src="{{page.contact.image.secure_url}}">
    {{>navigation this}}
    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="contact-jumbotron">
                {{{page.contact.jumbotron.text}}}
            </div>
        </div>
    </div>
</div>



<div class="col-sm-12 col-md-12">
    <div class="contact-header">
        <h1>{{page.contact.getintouchTitle}}</h1>
        <p>{{page.contact.getintouchText}}</p>
    </div>
</div>

<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="contact-information">
                    {{#each contact}}
                    <h2>{{this.title}}</h2>
                    <div itemscope itemtype="http://schema.org/LocalBusiness">
                        <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                            <p class="location"></p>
                            <span itemprop="streetAddress">{{this.address}}</span>
                            <span itemprop="addressLocality">{{this.cityOrRegion}}</span>,
                            <span itemprop="postalCode">{{this.postnumber}}</span>
                        </div>
                        <div itemscope itemtype="http://schema.org/ContactPoint">
                            <p class="email"></p> <span itemprop="email">{{this.email}}</span>
                        </div>
                        <div itemscope itemtype="http://schema.org/ContactPoint">
                            <p class="telephone"></p> <span itemprop="telephone">+358 - {{formatNumber this.phonenumber}}</span>
                        </div>
                    </div>
                    {{/each}}
                </div>
                {{!--
                <div class="contact-information">
                    <h2>Instant Quote</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend fermentum ante, id porta lectus.
                    </p>
                    {{#if social.length}}
                    <hr>
                    <div class="contact-social">
                        <h3>Follow Us on!</h3>
                        <i class="fa fa-facebook-official" style="font-size: 30px;color:rgb(76,102,164);margin-right: 5px;" aria-hidden="true"></i>
                        <i class="fa fa-twitter-square" style="font-size: 30px;color:rgb(76,102,164);margin-right: 5px;" aria-hidden="true"></i>
                    </div>
                    {{/if}}
                </div>--}}
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8">
                <div class="contactus-form">
                    {{#if enquirySubmitted}}
                    <div id="enquiry-message">
                        {{{page.contact.enquiry.message}}}
                    </div>
                    {{/if}}
                    <div class="enquiry-message">
                    </div>
                    <form id="enq" method="post">
                        <div class="form">
                            <div class="form-group{{#if validationErrors.name}}has-error{{/if}}">
                                <input type="hidden" name="action" value="contact">
                                <input type="text" name="name" class="form-control" value="{{formData.name.full}}" placeholder="Koko nimi">
                            </div>
                            <div class="form-group {{#if validationErrors.email}}has-error{{/if}}">
                                <input type="email" name="email" class="form-control" value="{{formData.email}}" placeholder="Sähköposti">
                            </div>
                            <div class="form-group">
                                <input type="tel" name="phone" placeholder="Puh. +358 - (vapaaehtoinen)" class="form-control" value="{{formData.phone}}">
                            </div>
                            <div class="form-group {{#if validationErrors.enquiryType}}has-error{{/if}}">
                                <select name="enquiryType" class="form-control">
                                    <option value="">(select one)</option>
                                    {{#each enquiryTypes}}
                                    <option value="{{value}}">{{label}}</option>
                                    {{/each}}
                                     </select>
                            </div>
                            <div class="actions form-group {{#if validationErrors.message}}has-error{{/if}} ">
                                <textarea name="message" placeholder="Leave us a message..." rows="4" class="form-control">{{formData.message}}</textarea>
                                <button id="submit-enquery" type="submit" class="btn btn-success">Lähetä</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="map-area">
    <div id="map"></div>
</div>


<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQXFg1WKwpM37PpWu6dOYST81Xla1At6I&callback=initMap"></script>
<script type="text/javascript">
    google.maps.event.addDomListener(window, 'load', init);

    function init() {
        // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
        var mapOptions = {
            zoom: 15,
            disableDefaultUI: true,
            panControl: false,
            zoomControl: false,
            scaleControl: false,

            center: new google.maps.LatLng(60.204538, 24.683589),

            styles: [{
                "featureType": "all",
                "elementType": "labels.text.fill",
                "stylers": [{
                    "saturation": 36
                }, {
                    "color": "#000000"
                }, {
                    "lightness": 40
                }]
            }, {
                "featureType": "all",
                "elementType": "labels.text.stroke",
                "stylers": [{
                    "visibility": "on"
                }, {
                    "color": "#000000"
                }, {
                    "lightness": 16
                }]
            }, {
                "featureType": "all",
                "elementType": "labels.icon",
                "stylers": [{
                    "visibility": "off"
                }]
            }, {
                "featureType": "administrative",
                "elementType": "geometry.fill",
                "stylers": [{
                    "color": "#000000"
                }, {
                    "lightness": 20
                }]
            }, {
                "featureType": "administrative",
                "elementType": "geometry.stroke",
                "stylers": [{
                    "color": "#000000"
                }, {
                    "lightness": 17
                }, {
                    "weight": 1.2
                }]
            }, {
                "featureType": "landscape",
                "elementType": "geometry",
                "stylers": [{
                    "color": "#000000"
                }, {
                    "lightness": 20
                }]
            }, {
                "featureType": "poi",
                "elementType": "geometry",
                "stylers": [{
                    "color": "#000000"
                }, {
                    "lightness": 21
                }]
            }, {
                "featureType": "road.highway",
                "elementType": "geometry.fill",
                "stylers": [{
                    "color": "#000000"
                }, {
                    "lightness": 17
                }]
            }, {
                "featureType": "road.highway",
                "elementType": "geometry.stroke",
                "stylers": [{
                    "color": "#000000"
                }, {
                    "lightness": 29
                }, {
                    "weight": 0.2
                }]
            }, {
                "featureType": "road.arterial",
                "elementType": "geometry",
                "stylers": [{
                    "color": "#000000"
                }, {
                    "lightness": 18
                }]
            }, {
                "featureType": "road.local",
                "elementType": "geometry",
                "stylers": [{
                    "color": "#000000"
                }, {
                    "lightness": 16
                }]
            }, {
                "featureType": "transit",
                "elementType": "geometry",
                "stylers": [{
                    "color": "#000000"
                }, {
                    "lightness": 19
                }]
            }, {
                "featureType": "water",
                "elementType": "geometry",
                "stylers": [{
                    "color": "#000000"
                }, {
                    "lightness": 17
                }]
            }]
        };

        var mapElement = document.getElementById('map');

        var map = new google.maps.Map(mapElement, mapOptions);

        // Let's also add a marker while we're at it
        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(60.204538, 24.683589),
            map: map,
            title: 'Snazzy!'
        });
    }

</script>