<div class="container">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			<article>
				<p><a href="/blog">&larr; back to the news</a></p>
				<hr>
				<header>
					<h1>{{data.news.title}}</h1>
					<h5>
						{{#if author.name.first}}by {{author.name.first}}{{/if}}
					</h5>
				</header>
				<div class="post">
					{{#if data.news.image}}<img src="{{{cloudinaryUrl data.news.image width=750 height=450 crop='fit' }}}" class="img-responsive">{{/if}}
					{{{data.news.content.extended}}}
				</div>
			</article>
		</div>
	</div>
</div>
