{{#if carousels}}
<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        {{#each carousels}}
        <li data-target="#carousel" data-slide-to="{{this.key}}"></li>
        {{/each}}
    </ol>
    <!-- Carousel items -->
    <div class="carousel-inner">
        {{#each carousels}}
        <div class="item" style="background-image: url({{this.background.secure_url}})">
            <div class="col-md-12 carousel-content">
                {{{this.content}}}
            </div>
        </div>
        {{/each}}
    </div>
    <!-- Carousel nav -->
    <a href="#carousel" class="left carousel-control" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a href="#carousel" class="right carousel-control" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
    <a class="carousel-control left" href="#carousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#carousel" data-slide="next">&rsaquo;</a>
</div>
{{/if}}