    .alert-danger {
        background-color: #e74c3c;
        border-color: #de4131;
        color: #fff;
    }
    
    .alert-info {
        background-color: #5cb85c;
        border-color: rgb(68, 157, 68);
        color: #fff;
    }