/* Article */

article {
    .new-content {
        hr {
            margin: 0px auto;
            margin-top: 5px;
            margin-bottom: 20px;
        }
        p {
            line-height: 24px;
            font-size: 15px;
        }
    }
}

.article-title {
    min-height: 56px;
    max-height: 56px;
    h3 a {
        color: #000;
        text-decoration: none;
    }
}

article {
    img {
        margin-left: -15px;
    }
}

.article-body {
    min-height: 140px;
    max-height: 140px;
}

.meta {
    .meta-author:before {
        content: '\f007';
        font-size: 15px;
        font-family: fontAwesome;
        position: absolute;
        left: 0;
        margin-left: 18px;
    }
    .meta-author {
        color: gray;
    }
}