footer {
    background: rgb(41, 41, 41);
    color: #fff;
    font-family: Lato;
    font-weight: medium;
    width: 100%;
    min-height: auto;
    padding-bottom: 100px;
    margin-top: 70px;
    ul.footer-news {
        li {
            a {
                color: #797979;
            }
        }
    }
}

.copyright {
    width: 100%;
    height: 80px;
    background: rgb(33, 33, 33);
    p.left-text {
        float: left;
        font-size: 12px;
        color: rgb(113, 113, 113);
        margin-top: 4%;
    }
}

.footer-social {
    float: right;
    padding-right: 100px;
    line-height: 70px;
    a {
        color: rgb(41, 41, 41);
        i {
            color: rgb(41, 41, 41);
            -o-transition: color .2s ease-out, background 1s ease-in;
            -ms-transition: color .2s ease-out, background 1s ease-in;
            -moz-transition: color .2s ease-out, background 1s ease-in;
            -webkit-transition: color .2s ease-out, background 1s ease-in;
            /* ...and now override with proper CSS property */
            transition: color .2s ease-out, background 1s ease-in;
        }
    }
    a:hover {
        i.fa.fa-facebook-square {
            color: rgb(59, 89, 151);
        }
        i.fa.fa-twitter-square {
            color: rgb(29, 161, 242);
        }
        i.fa.fa-linkedin-square {
            color: rgb(1, 119, 181);
        }
        i.fa.fa-youtube-square {
            color: rgb(205, 32, 31);
        }
    }
    i {
        font-size: 25px;
        margin-right: 5px;
    }
}

footer .container .row {
    float: none;
    margin: 0 auto;
}

.footer-company-text {
    color: rgb(104, 104, 104);
    letter-spacing: 0.0312em;
}

.footer-news {
    margin-top: 20px;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.footer-news {
    color: rgb(121, 121, 121);
}

ul.footer-news li {
    padding-bottom: 5px;
    border-bottom: 1px dotted rgb(113, 113, 113);
}

.footer-projects {
    margin-top: 20px;
}

.footer-contact {
    margin-top: 20px;
}

ul.footer-news li:before {
    content: "\f054";
    font-size: 10px;
    padding-right: 5px;
    font-family: fontAwesome;
}

ul.footer-contact-list {
    color: rgb(121, 121, 121);
    li.location:before {
        content: "\f041";
        font-family: fontAwesome;
        margin-right: 10px;
    }
    li.phone:before {
        content: "\f10b";
        font-family: fontAwesome;
        margin-right: 10px;
        font-size: 16px;
    }
    li.email:before {
        content: "\f0e0";
        font-family: fontAwesome;
        margin-right: 10px;
    }
}

.footer-news-title {}

@media only screen and (min-width: $break-small) {
    footer {
        margin-bottom: -35px;
    }
}

@media only screen and (max-width: $break-medium) {}

.footer-newsletter {
    padding-top: 20px;
    h5 {
        margin-bottom: -15px;
    }
}

.footer-newsletter .input-group {
    margin-top: 20px;
    span.input-group-addon {
        background: transparent;
        border: 1px solid rgb(113, 113, 113);
        border-radius: 0px 0px;
        border-left: 0px;
        a {
            font-size: 13px;
            color: rgb(113, 113, 113);
        }
    }
    input[type="email"] {
        background: transparent;
        border-radius: 0px 0px 0px 0px;
        border: 1px solid rgb(113, 113, 113);
    }
}

.socialmedia {
    /* footer social icons */
    ul.social-network {
        list-style: none;
        display: inline;
        margin-left: 0 !important;
        padding: 0;
    }
    ul.social-network li {
        display: inline;
        margin: 0 5px;
    }
    /* footer social icons */
    .social-network a.icoRss:hover {
        background-color: #F56505;
    }
    .social-network a.icoFacebook:hover {
        background-color: #3B5998;
    }
    .social-network a.icoTwitter:hover {
        background-color: #33ccff;
    }
    .social-network a.icoGoogle:hover {
        background-color: #BD3518;
    }
    .social-network a.icoVimeo:hover {
        background-color: #0590B8;
    }
    .social-network a.icoLinkedin:hover {
        background-color: #007bb7;
    }
    .social-network a.icoRss:hover i,
    .social-network a.icoFacebook:hover i,
    .social-network a.icoTwitter:hover i,
    .social-network a.icoGoogle:hover i,
    .social-network a.icoVimeo:hover i,
    .social-network a.icoLinkedin:hover i {
        color: #fff;
    }
    a.socialIcon:hover,
    .socialHoverClass {
        color: #44BCDD;
    }
    .social-circle li a {
        display: inline-block;
        position: relative;
        margin: 0 auto 0 auto;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        text-align: center;
        width: 50px;
        height: 50px;
        font-size: 20px;
    }
    .social-circle li i {
        margin: 0;
        line-height: 50px;
        text-align: center;
    }
    .social-circle li a:hover i,
    .triggeredHover {
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -ms--transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        -ms-transition: all 0.2s;
        transition: all 0.2s;
    }
    .social-circle i {
        color: #fff;
        -webkit-transition: all 0.8s;
        -moz-transition: all 0.8s;
        -o-transition: all 0.8s;
        -ms-transition: all 0.8s;
        transition: all 0.8s;
    }
    a {
        background-color: #D3D3D3;
    }
}