.jumbotron {
    background-color: rgba(0, 0, 0, 0.2);
    background-size: cover !important;
    margin-top: 80px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    width: 100%;
    min-width: 300px;
    height: 474px;
    overflow: hidden;
    height: 100%;
    z-index: 2;
}

.jumbotron-header {
    margin-top: 80px;
    h1 {
        margin-bottom: 20px;
    }
    color: #fff;
    p {
        margin-top: -10px;
        font-size: 15px;
        opacity: 0.6;
        line-height: 1.3;
    }
}

@media(max-width: $break-medium) {
    .jumbotron {
        max-width: 100%;
        margin-top: 80px !important;
    }
    .jumbotron-header {
        margin-left: none;
    }
}

.jumbotron button.btn-info {
    border-radius: 0px;
    background: transparent;
    padding: 10px;
    border: 1px solid #E8E8E8;
    color: #fff;
    font-size: 20px;
    text-shadow: 1px 1px #000;
}

.jumbotron button.btn-info:focus {
    background: none;
    border: none;
}

h2.jumbotron-h2 {
    color: #fff;
    font-family: Lato;
    align-items: center;
    letter-spacing: 15px;
    font-size: 84px;
    margin: 0px auto;
    @media(max-width: 320px) {}
}

.contact-arrow {
    width: 0;
    height: 0;
    margin: 0px auto;
    margin-top: -30px !important;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid rgb(231, 76, 60);
}