.navbar {
    height: 80px !important;
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    // @media(max-width: 767px) {}
    // @media(min-width: 768px) {}
    // @media(min-width: 992px) {}
    // @media(min-width: 1200px) {}
}

.navbar-default {
    background: rgb(33, 33, 33);
    border: none;
    transition: 0.2s all linear;
    height: 80px;
    padding: 12px;
    font-size: 16px;
    font-family: Lato;
    @media(max-width: $break-smedium) {
        padding: 0px;
    }
    @media(max-width: $break-medium) {
        font-size: 14px;
    }
    li.dropdown.open>a,
    li.dropdown.open>a:hover,
    li.dropdown.open>a:focus {
        background-color: transparent;
    }
    .navbar-nav>.active>a,
    .navbar-nav>.active>a:hover,
    .navbar-nav>.active>a:focus {
        background-color: transparent;
        background: none;
        display: inline-block;
        color: #ff9900;
        font-size: 17px;
        border-bottom: 5px solid rgb(255, 153, 0);
        padding-bottom: 28px;
    }
    .navbar-nav>li>a:focus,
    .navbar-nav>li>a:hover {
        color: rgb(255, 153, 0) !important;
    }
    .navbar-brand {
        img {
            margin-top: -18px !important;
            max-width: 100px;
            margin-top: -24px;
            height: 60px;
            width: auto;
        }
    }
}

@media (max-width: 767px) {
    .navbar-nav>.active>a,
    .navbar-nav>.active>a:hover,
    .navbar-nav>.active>a:focus {
        background: none;
        display: inline-block;
        color: #ff9900;
        font-size: 14px !important;
        border-bottom: none !important;
        padding-bottom: 0px !important;
    }
    .navbar-brand {
        img {
            height: 20px;
        }
    }
    .container>.navbar-header,
    .container>.navbar-collapse,
    .container-fluid>.navbar-header,
    .container-fluid>.navbar-collapse {
        margin-top: 15px;
    }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        background: #212121;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #333;
    }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border: none;
    }
}

@media (min-width:768px) {
    /* height of the menu collapsed */
    .nav-bg {
        height: 0px;
        width: 100%;
        position: absolute;
        margin-left: -12px;
        top: 75px;
        background: rgb(33, 33, 33);
        transition: all .5s ease-in-out;
    }
    .menu-open .nav-bg {
        height: 50px
    }
    /* change to your height of the child menu */
    .menu-open #page {
        padding-top: 60px;
        transition: all .2s ease-in-out;
    }
    .navbar-nav.nav>li {
        position: static;
    }
    .navbar-nav.nav>li a {
        color: #fff;
        font-size: 16px;
    }
    .navbar-nav.nav .dropdown-menu {
        left: 0 !important;
        right: 0 !important;
        box-shadow: none;
        border: none;
        margin: 0 auto;
        max-width: 1170px;
        background: transparent;
        padding: 0;
    }
    .navbar-nav.nav .dropdown-menu>li {
        float: left
    }
    .navbar-nav.nav .dropdown-menu>li>a {
        width: auto !important;
        background: transparent;
        line-height: 49px;
        color: #727272;
        padding-top: 0;
        padding-bottom: 0;
        margin: 0;
    }
}


/*  .dropdown-menu   */

.dropdown-menu>li>a:hover {
    color: rgb(255, 153, 0) !important;
}