.module:last-child {
    margin-bottom: 0;
}

.module h2 {
    margin-bottom: 40px;
    font-family: "Roboto Slab", serif;
    font-size: 30px;
}

.module p {
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 300;
}

.module p:last-child {
    margin-bottom: 0;
}

.module.content {
    padding: 40px 0;
}

.module.parallax {
    height: 600px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.module.parallax h1 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 48px;
    line-height: 600px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.module.parallax-1 {
    background-image: url("../img/demo/_small/1.jpg");
}

.module.parallax-2 {
    background-image: url("../img/demo/_small/2.jpg");
}

.module.parallax-3 {
    background-image: url("../img/demo/_small/3.jpg");
}

@media all and (min-width: 600px) {
    .module h2 {
        font-size: 42px;
    }
    .module p {
        font-size: 20px;
    }
    .module.parallax h1 {
        font-size: 96px;
    }
}

@media all and (min-width: 960px) {
    .module.parallax h1 {
        font-size: 160px;
    }
}