{{#if page.home.about.background}}
<section id="about" class="parallax-window" data-parallax="scroll" data-image-src="{{page.home.about.background.secure_url}}">
        <div class="container">
            <div class="row">
                <div class="about-header">
                    <h1>{{{page.home.about.title}}}</h1>
                    <div class="about-content">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            {{{page.home.about.leftColumn}}}
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            {{{page.home.about.rightColumn}}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
{{/if}}