{{#if latestNews}}<section id="new-listing">
    <div class="container">
        <div class="row">
            <div class="new-listing-header">
                <h1>{{page.home.new.title}}</h1>
                <p class="text-muted">{{page.home.new.smallTitle}}</p>
            </div>
            {{#each latestNews}}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <article class="new-listing-latest">

                    <header>
                        <img class="img-responsive new-listing-img" src="{{this.image.secure_url}}" alt="{{this.title}}">
                    </header>
                    <div class="new-listing-content">
                        <div class="new-listing-title">
                            <h3><a href="/uutiset/artikkeli/{{this.slug}}" class="latest-news-title">{{this.title}}</a></h3>
                        </div>
                        <div class="new-listing-meta">
                            <p class="text-muted">
                                <time datatime="{{formatDate publishedDate }}">{{formatDate publishedDate}}</time>
                            </p>
                        </div>
                        <div class="new-listing-brief">
                            {{{this.content.brief}}}
                        </div>
                    </div>
                </article>
            </div>
            {{/each}}
        </div>
    </div>
</section>
{{/if}}







{{!--



<section id="latest-news">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="latest-news-header">
                    <h1>Latest news</h1>
                    <p class="text-muted">If you are interested in the latest articles in the industry, take a sneak peek at our blog. You have
                        nothing to loose!</p>
                </div>
            </div>
            {{#each latestNews}}
            <div class="col-xs-12 col-sm-6 col-md-4">
                <article class="latest-news">
                    <header>
                        <img class="img-responsive service-image" src="{{image.secure_url}}" alt="">
                    </header>
                    <div class="latest-news-content">
                        <h3><a href="/news/article/{{this.slug}}" class="latest-news-title">{{this.title}}</a></h3>
                        <p class="latest-news-author text-muted">
                            <time datatime="{{formatDate publishedDate }}">{{formatDate publishedDate}}</time>
                        </p>
                    </div>
                    <div class="latest-news-brief">
                        {{{this.content.brief}}}
                    </div>
                </article>
            </div>
            {{/each}}
        </div>
</section>--}}