<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" rel="index" href="/" title="ELM - Etusivu">
                    {{#each contact}}
                    {{#if this.logo}}
                        <img  src="{{this.logo.secure_url}}">
                    {{else}}
                         <img style="max-width:100px; margin-top: -20px;" src="https://placehold.it/65x65">
                    {{/if}}  
                    {{/each}}                  
                </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
                <li><a href="/">Etusivu</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="/painopalvelut">Palvelut</a>
                    <ul class="dropdown-menu">
                        {{#each services}}
                        <li><a href="/painopalvelut/{{this.slug}}">{{this.title}}</a></li>
                        {{/each}}
                    </ul>
                </li>
                <li><a href="/uutiset">Uutiset</a></li>
                <li><a href="/tietoa-meista">Tietoa Meistä</a></li>
                <li><a href="/ota-yhteytta">Ota Yhteyttä</a></li>
                {{#if user}}
                <li><a href="/keystone"><span class="fa fa-cog"></span>&nbsp; Hallintapaneeli</a></li>
                {{/if}} 
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>