<section id="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="newsletter-header">
                    <p class="newsletter-subscribe">Subscribe to our</p>
                    <h1 class="newsletter-title">Newsletter</h1>
                </div>
                <div class="newsletter-message"></div>
                {{#if newsletterSubmitted}}
                <p>Kiitos</p>
                {{else}}
                <div class="newsletter-form">
                    <div class="newsletter-form">
                        <div class="col-sm-12 col-md-12">
                            <div class="info alert alert-info">
                                <a href="#" class="close" data-dismiss="alert">&times;</a>
                                <strong>Kiitos!</strong>
                            </div>
                            <div class="error alert alert-danger">
                                <a href="#" class="close" data-dismiss="alert">&times;</a>
                                <strong>Virhe!</strong>
                            </div>
                            <form id="newsltr" role="form" autocomplete="off">
                                {{#if validationErrors}} {{#each validationErrors}}
                                <p>{{this}}</p>
                                {{/each}} {{/if}}
                                <input type="email" class="form-control newsletter-input" value="{{formData.email}}" name="email" placeholder="Email">
                                <button id="newsletter-submit" type="submit" class="btn btn-success">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</section>