<section id="service-listing">
    <div class="section-header">
        <h1 class="section-title">{{page.home.service.title}}</h1>
    </div>
    <div class="container container-wide">
        <div class="row">
            {{#each services}}
            {{#if this.active}}
            <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
                <div class="service-icon">
                    <img class="img-circle img-responsive" style='float:left;width:106px;height:116px; margin-right:10px;' src="{{this.image.secure_url}}">
                </div>
                <div class="service-head">
                    <h3 class="service-title">
                        <a href="/painopalvelut/{{this.slug}}">
                        {{this.title}}</a>
                    </h3>
                    <div class="service-content">
                        {{{this.brief}}}
                    </div>
                </div>
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
</section>