#contact {
    margin-top: -30px;
    background: #212121;
}

.contact-jumbotron {
    margin-top: 130px;
    margin-bottom: -30px;
    h1,
    h2 {
        color: #fff;
        margin: 2px;
    }
}

.information {
    margin-left: 10px;
    .information-header {
        h2 {
            margin-top: 0;
        }
    }
}

.contact {
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact-images img {
    display: block;
    margin: 0 auto;
}

.contact-header {
    text-align: center;
    padding-bottom: 50px;
    h1 {
        font-size: 42px;
        text-align: center;
        padding-top: 50px;
        color: #000;
        font-family: 'Source Sans Pro';
    }
    p {
        margin-bottom: 50px;
    }
}

.contactus-form {
    margin-top: 20px;
    /* Form inputs */
    input,
    textarea {
        background: transparent;
        border-radius: 0px;
        box-shadow: none;
        border: 1px solid #727272;
        color: #000;
    }
    button.btn-success,
    button.btn-warning {
        background: #212121;
        border: #212121;
        margin-top: 10px;
        border-radius: 0px;
    }
    button.btn-success.error:hover {
        background: red;
    }
}

@media screen and (max-width: $break-medium) {
    .contactus-form {
        margin-top: 60px;
    }
}

.contactus-information {
    h2 {
        font-family: 'Source Sans Pro';
    }
    p {
        font-family: 'Playfair Display', serif;
        color: #727272;
    }
}


/* Google Maps */

#map {
    width: 100%;
    height: 320px;
    margin-top: 90px;
    margin-bottom: -50px;
}

.employe-img {
    width: 120px;
    height: 90px;
}

.contact-images p {
    text-align: center;
    margin-top: 4px;
}

.divider {
    color: $blackboard;
    opacity: 0.3;
    width: 100%;
    height: 1px;
    margin-top: 200px;
}

.contact {}

.contact input {
    border-radius: 0px 0px 0px 0px;
    background: transparent;
    border: 1px solid #ddd;
    margin: 0 0 1em;
    height: 37px;
}

select {
    border-radius: 0px 0px 0px 0px !important;
    border: 1px solid #ddd !important;
    margin: 0 0 1em !important;
    height: 37px !important;
}

@media screen and (max-width: $break-medium) {
    .divider {
        margin: 0px auto;
        margin-top: 50px;
        width: 90%;
    }
    .contact {
        margin-top: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .form-inline .form-group input {
        width: 100%;
    }
}

.contact-phone {
    background: rgb(237, 117, 80);
    width: 100%;
    text-align: left;
    min-height: 250px;
    margin-top: -30px;
}

.contact-email {
    background: rgb(236, 232, 223);
    width: 100%;
    min-height: 250px;
}

.contact-enquery {
    padding-bottom: 50px;
    input {
        height: 40px;
        border-radius: 0px;
        background: transparent;
    }
    textarea {
        border-radius: 0px;
    }
}

.map-area {
    #map {
        width: 100%;
        height: 400px;
        margin-bottom: -70px;
    }
}

.contact-information {
    h2 {
        margin-bottom: 20px;
    }
    p.telephone {
        display: inline;
    }
    p.telephone:before {
        content: "\f095";
        color: #212121;
        font-family: fontAwesome;
        margin-right: 15px;
        font-size: 20px;
    }
    p.email {
        display: inline;
    }
    p.email:before {
        content: "\f0e0";
        color: #212121;
        font-family: fontAwesome;
        margin-right: 10px;
        font-size: 20px;
    }
    p.location {
        display: inline;
    }
    p.location:before {
        content: "\f041";
        color: #212121;
        font-family: fontAwesome;
        margin-right: 10px;
        font-size: 20px;
    }
    span {
        font-size: 16px;
    }
    color: #797979;
    font-family: 'Source Sans Pro';
    margin-left: -30px;
    margin-bottom: 50px;
    p {
        color: #797979;
        list-style: none;
        font-size: 16px;
    }
}

.billing {
    margin-top: 20px;
}

@media screen and(min-width: $break-large) {
    hr {
        margin-left: 50px;
    }
    .contact-social {}
}

@media screen and (max-width: $break-medium) {
    .contact-information {
        margin-left: 0px;
        margin-top: 50px;
    }
    .contact-social {
        margin-bottom: 50px;
    }
}