#terms {
    h1 {
        font-size: 42px;
        padding-top: 50px;
        color: #c6c0c0;
        font-family: 'Source Sans Pro';
    }
    p {
        font-family: 'Playfair Display', serif;
    }
}

a.active {
    .pill-card {
        color: #fff;
        background-color: rgb(255, 153, 0);
    }
}

#pills {
    .pill-card {
        padding: 20px;
        font-size: 10px;
        margin-top: 150px;
    }
    .pill-card:hover {
        color: #fff;
        background-color: rgb(255, 153, 0);
    }
    .pill-active {
        color: #fff;
        background-color: rgb(255, 153, 0);
    }
    a {
        text-decoration: none;
        color: #000;
    }
}