    #clients {
        width: 100%;
        margin-top: -30px;
        height: 60px;
        background: #fff;
    }
    
    #quality {
        margin-top: -30px;
        background: rgb(41, 41, 41);
    }
    
    h1.quality-title {
        color: #c6c0c0;
        font-family: 'Source Sans Pro';
        text-align: center;
    }
    
    .about-employees-info {
        margin-top: 15px;
        p {
            margin: -5px;
            text-align: center;
        }
    }
    /* Projects */
    
    .nopadding {
        padding: 0 !important;
        margin: 0 !important;
    }
    
    .project-header {
        background: #212121;
        padding-top: 50px;
        padding-bottom: 50px;
        h1 {
            font-size: 42px;
            color: #c6c0c0;
            font-family: 'Source Sans Pro';
            text-align: center;
        }
        p {
            margin-top: 10px;
            color: #727272;
            font-family: 'Muli', sans-serif;
            text-align: center;
        }
    }
    
    .container-full {
        padding: 0;
        max-width: 100%;
    }
    
    @media(max-width: 767px) {
        .nopadding {
            img {
                width: 100%;
                margin: 0px auto;
            }
        }
    }
    /* Our Amazing Team */
    
    #team {
        margin-top: -20px;
        .team-members {
            padding-top: 50px;
            padding-bottom: 50px;
        }
        background: #212121;
        margin-bottom: -70px;
        padding-bottom: 50px;
        figure {
            img {
                margin: 0px auto;
            }
            figcaption {
                color: #fff;
                font-family: 'Source Sans Pro', sans-serif;
                small {
                    color: #727272;
                }
                p {
                    margin-top: -2px;
                    font-size: 16px;
                }
                margin-top: 5px;
                text-align: center;
                .social {
                    hr {
                        background-color: #393838;
                        margin: 0px auto;
                        margin-bottom: 5px;
                        border: 0;
                        height: 1px;
                        width: 150px;
                    }
                    i {
                        color: #727272;
                        margin-right: 5px;
                        font-size: 25px;
                    }
                }
            }
        }
    }
    
    .team-header {
        clear: both;
        background: #292929;
        h1 {
            color: #c6c0c0;
            font-family: 'Source Sans Pro';
            text-align: center;
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }
    
    @media(max-width: 767px) {
        #team figure {
            margin-bottom: 50px;
        }
    }
    /* About Us Section */
    
    #aboutus {
        margin-top: -30px;
        background: #212121;
        padding-bottom: 50px;
        .about-head {
            h1 {
                font-size: 42px;
                text-align: center;
                padding-top: 50px;
                color: #c6c0c0;
                font-family: 'Source Sans Pro';
            }
            p {
                color: #fff;
            }
        }
        .timeline {
            p {
                font-family: 'Playfair Display', serif;
                color: #727272;
            }
            h1,
            h2,
            h3 {
                color: #c6c0c0;
            }
        }
    }