 {{>navigation this}}
<div class="container">
	<div class="row">
		<div class="jumbotron jtr-new jtr-small" style="background: url({{data.news.image.secure_url}});background-position: center center;">
			<div class="container-fluid">

			</div>
		</div>
	</div>
</div>


<div class="container">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-1 col-md-10">
			<article article itemscope itemtype="http://schema.org/Article">
				<header>
					<h1 class="new-title">{{data.news.title}}</h1>
					<span class="news-date" itemprop="datePublished">{{{formatDate data.news.publishedDate}}}</span>
				</header>
				<div class="new-content">
					<hr> {{{data.news.new}}}
				</div>
			</article>
			<a href="/uutiset"><button type="button" class="btn btn-info new-back-button">Takaisin uutisiin</button></a>
		</div>
	</div>
</div>