{{#each recent}}
<div class="jumbotron  parallax-window" data-parallax="scroll" data-image-src="{{this.image.secure_url}}">
{{/each}}
    {{>navigation this}}
    <div class="container-fluid">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="news-jumbotron-header">
                {{#each recent}}
                <h1 class="title">{{this.title}}</h1>
                <a href="/uutiset/artikkeli/{{this.slug}}"><button type="button" style="width: 200px;margin-top: 50px;" class="btn btn-info">Lue uutinen</button></a>
                {{/each}}
                
            </div>
        </div>
    </div>
</div>



{{#if data.news.results}}
<section id="news">
        <div class="container">
            <div class="row">
                {{#each data.news.results}}
                <div class="col-sm-12 col-md-12">
                    <article itemscope itemtype="https://schema.org/Article">
                        <div class="col-sm-4 col-md-4">
                            <img class="img-responsive" src="{{this.image.secure_url}}">
                        </div>
                        <div class="col-sm-8 col-md-8">
                            <h2 class="news-title"><a href="/uutiset/artikkeli/{{this.slug}}" itemprop="url">{{{title}}}</a></h2>
                            <span class="news-date" itemprop="datePublished">{{{formatDate publishedDate}}}</span>
                            <div class="news-brief">
                                <p>{{{newsBrief this.new}}}</p>
                            </div>
                        </div>
                    </article>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</section>
{{else}}
<section id="no-data-found">
</section>
{{/if}}


<section id="pagination">
    <div class="col-sm-12 col-md-12">
        <div class="text-center">
            <ul class="pagination news-pagination">
                <li {{#unless data.news.previous}}class="disabled" {{/unless}}>
                    <a href="?page{{data.news.previous}}">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                </li>
                {{{paginationNavigation data.news.pages data.news.currentPage data.news.totalPages}}}
                <li {{#unless data.news.next}}class="disabled" {{/unless}}>
                    <a href="{{paginationNextUrl data.news.next data.news.totalPages}}">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>