@import '../bootstrap/bootstrap';
@import 'base/base';
@import 'components/components';
@import 'layout/layout';

/* Vendors */

@import 'vendors/fontawesome/font-awesome';
body {
    background: #fff;
}

.center-div {
    margin: 0 auto;
    width: 100%;
}