/* New Version */

.section-header {
    h1.section-title {
        text-align: center;
        margin-top: 120px;
        padding-bottom: 100px;
    }
}

.service-head {
    h3.service-title {
        font-size: 18px;
        text-transform: uppercase;
        line-height: 1.89;
        font-family: Montserrat, sans-serif;
    }
    a {
        color: #000;
        -o-transition: color .2s ease-out, background 1s ease-in;
        -ms-transition: color .2s ease-out, background 1s ease-in;
        -moz-transition: color .2s ease-out, background 1s ease-in;
        -webkit-transition: color .2s ease-out, background 1s ease-in;
        /* ...and now override with proper CSS property */
        transition: color .2s ease-out, background 1s ease-in;
    }
    a:hover {
        text-decoration: none;
        color: rgb(255, 153, 0);
    }
}

.service-content {
    line-height: 1.67;
    font-size: 18px;
    overflow: hidden;
    color: #888888;
    line-height: 1.67em;
    font-family: Lato, sans-serif;
    font-weight: 100;
    padding-bottom: 100px;
}

.service-icon {
    img {
        margin-top: 21px;
    }
}


/* Singel Service*/

.jumbotron.jtr-small {
    margin: 0px auto;
    max-width: 970px;
    margin-top: 100px;
    border-radius: 0px 0px 0px 0px;
}

.srv1 {
    overflow: hidden;
    background: #fff;
    max-width: 970px;
    margin: 0px auto;
    margin-top: 20px;
    h1.srv-title {
        color: #000;
        font-family: 'Muli', sans-serif;
        margin-bottom: 50px;
    }
    .srv1-content {
        b {
            color: rgb(41, 41, 41);
        }
        li,
        p {
            font-family: 'Playfair Display', serif;
            color: #727272;
            font-size: 15px;
        }
    }
}