#no-data-found {
    min-height: 560px;
}

#news {
    article {
        overflow: hidden;
        background: #fff;
    }
}

article {
    margin-top: 50px;
}

.sidebar {
    margin-top: 50px;
}

.news-title {
    a {
        font-family: 'Muli', sans-serif;
        margin-top: 20px;
        color: rgb(33, 33, 33);
        font-weight: 600;
        color: #000;
        -o-transition: color .2s ease-out, background 1s ease-in;
        -ms-transition: color .2s ease-out, background 1s ease-in;
        -moz-transition: color .2s ease-out, background 1s ease-in;
        -webkit-transition: color .2s ease-out, background 1s ease-in;
        /* ...and now override with proper CSS property */
        transition: color .2s ease-out, background 1s ease-in;
    }
    a:hover {
        text-decoration: none;
        color: rgb(255, 153, 0);
    }
}

.news-date {
    color: #797979;
    margin-bottom: 30px;
}

.news-date:before {
    content: "\f017";
    font-family: fontAwesome;
    margin-right: 5px;
}

.news-biref {
    p {
        font-family: 'Merriweather', serif;
        font-size: 16px;
        margin-top: 30px;
        line-height: 22px;
    }
}

.news-image {
    height: 165px;
    width: 294px;
}

.news-jumbotron-header {
    color: #fff;
    text-align: center;
    h1.title {
        margin-top: 12%;
        font-size: 42px;
        text-transform: capitalize;
    }
}

.divider {
    overflow: hidden;
    text-transform: uppercase;
    position: relative;
    padding: 0 0 10px;
    margin: 0 0 20px;
    color: #aaa;
    font-size: 0.9em;
}

@media only screen and (max-width: 768px) {
    .news-jumbotron-header {
        margin-top: 35%;
    }
}