.new-header {
    text-align: center;
    margin-top: 150px;
    h1.new-title {
        color: #fff;
        font-size: 38px;
        text-shadow: #000;
    }
}

.jumbotron.jtr-small {
    margin: 0px auto;
    max-width: 970px;
    height: 600px;
    margin-top: 100px;
    border-radius: 0px 0px 0px 0px;
}

.news-title {
    color: #fff;
}

.new-back-button {
    margin-top: 50px;
    background: rgb(41, 41, 41);
    border: none;
    border-radius: 0px;
}

.new-back-button:hover {
    background: rgb(33, 33, 33);
}

.new-back-button:focus {
    background: rgb(33, 33, 33);
}