/* Services */

.service-header {
    h1 {
        font-size: 42px;
        text-align: center;
        font-family: 'Source Sans Pro';
        color: #000;
        margin-bottom: 20px;
    }
    p {
        margin-bottom: 60px;
    }
}

.section-header {
    font-family: 'Muli', sans-serif;
    h1.section-title {
        text-transform: uppercase;
    }
}

.service-title {
    font-family: 'Muli', sans-serif;
    color: rgb(33, 33, 33);
}

.service-text {
    font-family: 'Playfair Display', serif;
    color: rgb(114, 114, 114);
}

.service-carousel {
    margin-top: 100px;
}

a.service-showall {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    color: rgb(231, 76, 60);
}

a.service-showall:hover {
    text-decoration: none;
}

a.service-showall:before {
    content: "//";
    color: black;
}

.service-image {
    margin-bottom: 12px;
    width: 350px;
    height: 250px;
}


/* Learn More */

#learn-more {
    img {
        margin: 0px auto;
        margin-top: 50px;
    }
}

.learn-header {
    text-align: center;
    font-family: 'Source Sans Pro';
    color: #556677;
    margin-top: 60px;
}


/* News section */

#latest-news {
    background: #f5f5f5;
    padding-top: 100px;
    padding-bottom: 100px;
}

.latest-news-author {
    margin-top: -3px;
    font-size: 13px;
    color: #868080;
}

.latest-news-content {
    h3 a {
        font-weight: 100;
        color: #000;
        font-size: 18px;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 1.89em;
        vertical-align: baseline;
        letter-spacing: 1.08333px;
        word-spacing: 0px;
        -o-transition: color .2s ease-out, background 1s ease-in;
        -ms-transition: color .2s ease-out, background 1s ease-in;
        -moz-transition: color .2s ease-out, background 1s ease-in;
        -webkit-transition: color .2s ease-out, background 1s ease-in;
        transition: color .2s ease-out, background 1s ease-in;
    }
    a:hover {
        text-decoration: none;
        color: rgb(255, 153, 0);
    }
    margin-left: -15px;
}

a.latest-news-title {
    color: #727272;
    display: block;
    margin-top: 10px;
    font-weight: bold;
    h3 {
        font-size: 15px;
        line-height: 1.89;
    }
}

.latest-news-header {
    h1 {
        text-align: center;
        font-family: 'Source Sans Pro';
        color: #000;
    }
    p {
        text-align: center;
        margin-bottom: 20px;
        margin-top: -15px;
    }
}

.article-image {
    margin: 0 auto;
}

.latest-time {
    margin-top: 5px;
    color: #797979;
}

.latest-time:before {
    content: "\f017";
    font-family: fontAwesome;
    margin-right: 5px;
}

.latest-news-brief {
    margin-left: -15px;
    font-family: Lato, sans-serif;
    font-weight: 100;
    font-size: 16px;
    line-height: 1.67;
    color: #888;
}


/* About section */

#about {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    min-height: 440px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    margin-top: 85px;
    overflow: hidden;
    .about-header {
        font-family: 'Muli', sans-serif;
        h1 {
            text-transform: uppercase;
        }
    }
}

.about-content {
    p {
        font-size: 14px;
        font-family: 'Muli', sans-serif;
    }
}

.about-header {
    h1 {
        text-align: center;
        color: #fff;
        margin-bottom: 20px;
    }
    p {
        color: #fff;
        margin-top: 30px;
    }
}


/* Quality Section*/

.quality {
    margin-top: 100px;
    margin-bottom: 100px;
}

h1.quality-title:before {
    font-family: fontAwesome;
    font-size: 32px;
}

h1.quality-title {
    font-size: 42px;
    text-align: center;
    font-family: 'Muli', sans-serif;
    color: rgb(33, 33, 33);
}

p.quality-title-small {
    color: #d5d5d5;
    text-align: center;
}

p.quality-text {
    font-family: 'Playfair Display', serif;
    color: rgb(114, 114, 114);
}

.quality-content {
    margin-top: 50px;
    text-align: center;
    p {
        font-family: 'Playfair Display', serif;
        color: #727272;
    }
}


/* Newsletter */

.newsletter {
    background: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
}

.newsletter-form input {
    border-radius: 0px 0px 0px 0px;
    border: 1px solid #ddd;
    margin: 0 0 1em;
}

.newsletter-form .input-group .input-group-addon {
    border-radius: 0px;
    background: transparent;
}

a.newsletter-submit {
    text-align: center;
    font-family: 'Muli', sans-serif;
    color: rgb(33, 33, 33);
}

a.newsletter-submit:hover {
    text-decoration: none;
}

p.newsletter-p {
    text-align: center;
    margin: 0px;
    margin-bottom: 50px;
}

p.newsletter-subscribe {
    font-size: 24px;
    color: #ababae;
    font-family: 'Muli', sans-serif;
    margin-bottom: -20px;
    text-align: center;
}


/* Hover effect */

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    position: absolute;
    overflow: hidden;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    border-bottom: 1px solid #FFF;
    border-top: 1px solid #FFF;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
}

.hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

.hovereffect:hover img {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
    filter: brightness(0.6);
    -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
    text-align: center;
    position: relative;
    font-size: 17px;
    background-color: transparent;
    color: #FFF;
    padding: 1em 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

.hovereffect a,
hovereffect p {
    color: #FFF;
    padding: 1em 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.hovereffect:hover a,
.hovereffect:hover p,
.hovereffect:hover h2 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

@media (min-width: 768px) {
    .hovereffect .overlay {
        border-top: 0px;
    }
}


/* Jumbotron */

.index-jumbotron {
    margin-top: 140px;
    .índex-header {
        h1.header-title {
            color: #fafafa;
        }
    }
    .index-body {
        p {
            color: #fafafa;
        }
    }
}