section#new-listing {
    background: #f5f5f5;
    padding-top: 100px;
    padding-bottom: 100px;
    line-height: 1.89em;
    .new-listing-header {
        h1 {
            text-align: center;
            font-family: 'Muli', sans-serif;
            text-transform: uppercase;
            color: #000;
            letter-spacing: 1.08333px;
        }
        p {
            font-family: 'Muli', sans-serif;
            text-transform: uppercase;
            font-weight: 100;
            text-align: center;
            margin-top: -10px;
        }
    }
    .new-listing-latest {
        img {
            margin-bottom: 12px;
            width: 350px;
            height: 200px;
        }
        @media only screen and (max-width: 768px) {
            img {
                margin: 0px auto;
            }
        }
    }
    .new-listing-content {
        margin-left: -15px;
        @media only screen and (max-width: 768px) {
            margin-left: 0px;
        }
        .new-listing-title {
            h3 a:hover {
                -o-transition: color .2s ease-out, background 1s ease-in;
                -ms-transition: color .2s ease-out, background 1s ease-in;
                -moz-transition: color .2s ease-out, background 1s ease-in;
                -webkit-transition: color .2s ease-out, background 1s ease-in;
                transition: color .2s ease-out, background 1s ease-in;
            }
            h3 a:hover {
                text-decoration: none;
                color: rgb(255, 153, 0);
            }
        }
        .new-listing-meta p {
            font-family: Lato, sans-serif;
            font-weight: 100;
            line-height: 1.67;
            color: #888;
            @media only screen and (min-width: 768px) {
                margin-top: -5px;
            }
        }
        .new-listing-brief {
            font-family: Lato, sans-serif;
            font-weight: 100;
            font-size: 16px;
            line-height: 1.67;
            color: #888;
        }
    }
}