section#newsletter {
    padding-top: 100px;
    padding-bottom: 100px;
    line-height: 1.89em;
    .newsletter-form {
        margin: 0px auto;
        input[type=email] {
            border-radius: 0px;
            box-shadow: none;
            border: 0px;
            height: 50px;
            color: #fff;
            background: rgb(41, 41, 41);
        }
        button {
            border-radius: 0px;
        }
        @media only screen and (min-width: $break-large) {
            width: 550px;
            padding-top: 40px;
            margin: 0px auto;
        }
    }
    .newsletter-header {
        text-align: center;
        p.newsletter-subscribe {
            margin-bottom: -23px;
            font-family: Lato, sans-serif;
            text-transform: uppercase;
            font-weight: 100;
        }
        h1.newsletter-title {
            font-weight: 100;
            color: #000;
            font-family: Lato, sans-serif;
            text-transform: uppercase;
            margin-bottom: 20px;
            letter-spacing: 1.08333px;
        }
    }
}