<div class="jumbotron parallax-window" data-parallax="scroll" data-image-src="{{page.services.background.secure_url}}">
    {{>navigation this}}
    <div class="container-fluid">
        <div class="col-xs-10 col-sm-8 col-md-8 col-lg-6">
            <div class="jumbotron-header">
            </div>
        </div>
    </div>
</div>



<section id="srv">
    <div class="container">
        <div class="row">
            {{!-- Left Menu --}}
        
        </div>
    </div>
</section>




</section>

{{!--
<section id="srv">
    <div class="container-fluid">
        <div class="row">
            <div class="service-title">
                <h1>Palvelumme</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </div>
</section>

<section id="spotlight">
    <div class="container">
        <div class="row">
            {{#each data.services}} {{#everyOther @index 2}} {{!-- Left Side Loop --}}
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div id="wrapper">
                    <div class="services">
                        <div class="col-xs-12 col-sm-4 col-md-5">
                            <div class="services-img">
                                <img class="img-responsive img-circle" src={{this.image.secure_url}} alt={{this.image.resource_type}}>
                            </div>
                        </div>
                        <div class="services-body">
                            <div class="col-xs-12 col-sm-8 col-md-7">
                                <h1>{{this.title}}</h1>
                                {{{this.brief}}}
                                <a href="/painopalvelut/{{this.slug}}">
                                    <button type="button" class="btn btn-info">Lue Lisää</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- Left Side Loop Ends --}} {{else}} {{!--Right Side --}}
                <div id="wrapper">
                    <div class="services">
                        <div class="services-body-left">
                            <div class="col-xs-12 col-sm-8 col-md-7">
                                <h1>{{this.title}}</h1>
                                {{{this.brief}}}
                                <a href="/painopalvelut/{{this.slug}}">
                                    <button type="button" class="btn btn-info">Lue Lisää</button>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-5">
                            <div class="services-img-right">
                                <img class="img-responsive img-circle" src={{this.image.secure_url}} alt={{this.image.resource_type}}>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- Right Side Loop Ends --}}
            </div>
            {{/everyOther}} {{/each}}
        </div>
    </div>
</section>--}} {{!--
<section id="spotlight">
    <div class="container">
        <div class="row">
            {{#each data.services}}
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div id="wrapper">
                    <div class="services">
                        <div class="col-xs-12 col-sm-4 col-md-5">
                            <div class="services-img">
                                <img class="img-responsive" src={{this.image.secure_url}} alt={{this.image.resource_type}}>
                            </div>
                        </div>
                        <div class="services-body">
                            <div class="col-xs-12 col-sm-8 col-md-7">
                                <h1>{{this.title}}</h1>
                                {{{this.brief}}}
                                <a href="/painopalvelut/{{this.slug}}">
                                    <button type="button" class="btn btn-info">Lue Lisää</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>--}}