{{>navigation this}}
<div class="container">
    <div class="row">
        <div class="jumbotron jtr-small" style="background-image: url({{srvs.image.secure_url}})">
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="srv1">
            <div class="col-xs-12 col-sm-8 col-md-8">
                <div class="srv1-head">
                    <h1 class="srv-title">{{srvs.title}}</h1>
                </div>
                <div class="col-2">
                    <div class="srv1-content">
                        {{{srvs.brief}}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>