{{>navigation this}}
<section id="pills">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                {{!--Card begins --}} {{#each terms}}
                <div class="col-xs-12 col-sm-12 col-md-3 col-md-3">
                    <a href="{{this.url}}">
                        <div class="pill-card">
                            <div class="pill-header">
                                <h4>{{this.title}}</h4>
                            </div>
                            <div class="pill-content">
                                <p>{{this.span}}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {{/each}} {{!--Card Ends --}}
            </div>
        </div>
    </div>
</section>


<section id="terms">
    <div class="container">
        <div class="row">
            <h1>{{cTerm.title}}</h1>
            <div class="col-sm-12 col-md-12">
                <p>{{{cTerm.content}}}</p>
            </div>
        </div>
    </div>
</section>